.wordle-board {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px
}

.guesses {
    display: flex;
    justify-content: center;
}

input {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
}

h1,
p {
    margin: 0;
}